.link {
    text-decoration: none;
}

#cta {
    background-image: linear-gradient(to right, #2600ff, #ff8c00);
    margin-top: 5px;
}

.heroGrid {
    color: white;

}

.Divider {
    padding: 30px;
}
@media (max-width: 767px) {
    .heroGrid {
        background-size: contain;
        /* Adjust the background size for smaller screens */
    }
}

button {
    padding: 20px;
}